In [1]:
# import Libraries

import pandas as pd
import os
import folium

In [2]:
boarding_info = pd.read_csv('boarding_info.csv', encoding='utf-8')

In [5]:
days = set(boarding_info['Day'])
stops = set(boarding_info['Stopno'])

In [6]:
avg_ = {
    'line' : [],
    'stopno' : [],
    'on' : [],
    'off' : []
}

In [7]:
for s in stops:
    stop_info = boarding_info[boarding_info['Stopno']==s]
    lines = set(stop_info['Line'])
    for l in lines:
        line_info = stop_info[stop_info['Line']==l]
        on_ = 0
        off_ = 0
        for i, row in line_info.iterrows():
            on_ += int(row['geton'])
            off_ += int(row['off'])
        avg_on = on_/len(line_info)
        avg_off = off_/len(line_info)
        avg_['line'].append(l)
        avg_['stopno'].append(s)
        avg_['on'].append(avg_on)
        avg_['off'].append(avg_off)

In [9]:
boarding_avg = pd.DataFrame(avg_)

In [15]:
boarding_avg.to_csv('boarding_avg.csv')

In [2]:
## plase start at this code after you save boarding_avg.csv
boarding_avg = pd.read_csv('boarding_avg.csv')

In [3]:
stop_loc = pd.read_csv('busstop_LOC.csv')

In [4]:
df_fin = stop_loc.join(boarding_avg.set_index('stopno'), on='stopNo')

In [9]:
df_fin = df_fin.drop(columns=['Unnamed: 0']).dropna(0)

In [44]:
stops = set(df_fin['stopNo'])

In [58]:
total_ = {
    'stopNo' : [],
    'on' : [],
    'off' : [],
    'x' :[],
    'y' : []
}

In [56]:
df_fin.head()

   stopNo           x          y line          on         off
0    1001  126.987750  37.569765  470   88.074074  358.851852
0    1001  126.987750  37.569765  N37   16.574074   14.981481
0    1001  126.987750  37.569765  741   71.846154  175.615385
1    1002  126.996566  37.579183  172  138.259259  112.259259
1    1002  126.996566  37.579183  301  148.111111   55.259259

In [59]:
for s in stops:
    stop_info = df_fin[df_fin['stopNo']==s]
    on_ = 0
    off_ = 0
    x = df_fin[df_fin['stopNo']==s]['x']
    y = df_fin[df_fin['stopNo']==s]['y']
    for i, row in stop_info.iterrows():
        on_ += row['on']
        off_ += row['off']
    total_['stopNo'].append(s)
    total_['on'].append(int(on_))
    total_['off'].append(int(off_))
    total_['x'].append(x)
    total_['y'].append(y)

In [54]:
total_df = pd.DataFrame(total_)
total_df.head()

   stopNo    on   off
0    1001   176   549
1    1002  2557  2115
2    1003  4488  3263
3    1004   791   707
4    1005  1781  3128

In [41]:
import math
map_on = folium.Map(location=[37.566047, 126.977702], tiles='Stamen Toner', zoom_start=15)
for i, row in total_df.iterrows():
    location = [float(row['y']),float(row['x'])]
    folium.Circle(
        location = location,
        radius = 10,
        color='ffffff',
        fill_opacity=0.6,
        fill_color='#4DD0E1',
        popup = 'Station : ' + str(row['stopNo']) + '<br>' +
        'Get on : ' + str("{:,} person/day".format(int(row['on'])) + '<br>' +
        'Get off : ' + str("{:,} person/day".format(int(row['off'])),
        fill=True
    ).add_to(map_on)

In [42]:
map_on.save('test.html')